<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
{{>headerlinks}}
</head>
<body>
    {{>navbar}}

<!-----main header-->
<div class="container-fluid main_header">
    <div class="row">
        <div class="col-md-10 col-12 mx-auto">
        <div class="row">
            <!----left side div-->
            <div class="col-md-12 col-12 main_header_left align-items-center">
                <figure class="errimg">
                    <img src="images/404.png.jfif" alt="photo" class="image-fluid" title="lalit">
                </figure>
                  


            
                <p>Welcome  to the 404 page</p>
                <h1>{{error}}</h1>
                <a href="/"><button>Go Back</button></a>
            </div>
              <!----right side div-->
           
            </div>
        </div>
        </div>
        </div>
    </div>

    <!-----footer code-->

   {{>footer}}

</body>
</html>