<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
{{>headerlinks}}
</head>
<body>
    {{>navbar}}

<!-----main header-->
<div class="container-fluid main_header">
    <div class="row">
        <div class="col-md-10 col-12 mx-auto">
        <div class="row">
            <!----left side div-->
            <div class="col-md-6 col-12 main_header_right align-items-center">
                <figure>
                    <img src="images/lalit.jpg" alt="photo" class="image-fluid" title="lalit"
                </figure>
                   </div>


            <div class="col-md-6 col-12 main_header_left">
                <p>Welcome to weather app</p>
                <h1>I Am A <span class="text_color">Developer</span> With No Experience</h1>
                <a href="/weather"><button>about me</button></a>
            </div>
              <!----right side div-->
           
            </div>
        </div>
        </div>
        </div>
    </div>

    <!-----footer code-->

   {{>footer}}

</body>
</html>